body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 30px;
    background: rgba(229, 216, 216, 0.462);
}

section {
    border: 2px solid rgb(41, 44, 41);
    border-radius: 9px;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    display: flex;
}

aside {
    justify-content: space-between;
    flex-basis: 45%;
    padding: 3px 18px;
}

input {
    display: block;
    margin: 10px 0 20px 0;
    border-radius: 5px;
    border: 1px solid rgba(37, 9, 9, 0.104);
    font-size: 20px;
    padding: 6px;
    box-shadow: 1px 2px 3px;
}

button {
    cursor: pointer;
    width: 90px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid grey;
    font-size: 16px;
    box-shadow: 2px 2px 2px;
}

td {
    text-align: center;
    border-radius: 2px;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 1px 0.5px 1px;
}

table {
    margin: 50px 0;
    border-collapse: collapse;
    padding: 4px;
    width: 80%;
}

#summary td {
    font-size: 20px;
    font-weight: 500;
    border: none;
}

.deleteBtn {
    cursor: pointer;
}